# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor settings
.vscode/
.idea/
*.swp

# Node modules and lock files
node_modules/
package-lock.json

# Log files
*.log

# Backup or temp files
*.bak
*.tmp
*~

# Flask runtime files
instance/
.env

# Docker
*.pid
*.sock
debug.log
